name: aws-sdk-fluent-builder pipeline

on:
  push:
    branches:
      - 'master'

jobs:
  pipeline:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@main
      -
        name: Setup Node JS
        uses: actions/setup-node@main
        with:
          node-version: 16.18.1
      -
        name: Build
        run: |
          npm install
          npm run lint
          npm run build
